.title-section {
  padding: 5%;
}

.sub-title-section {
  padding: 5%;
}

.header-button {
  padding: 5%;
}

ion-card {
  border: none;
  background-color: white;
  padding: auto;
  width: auto;
}

ion-card-subtitle {
  font-size: 24px;
  color: black;
}

.how-it-works {
  padding: 5%;
}

.main-content {
  padding: 5%;
}

.notSpecial {
  color: black;
  text-transform: uppercase;
}

.customPrimaryButton {
  --background: #161a1d;
  --background-hover: #404446;
  --background-activated: #d3d3d3;
  --background-focused: #d3d3d3;
  --color: #fff;
}

.customSecondaryButton {
  --background: white;
  --background-hover: #404446;
  --background-activated: #d3d3d3;
  --background-focused: #d3d3d3;
  --color: black;
}

.menu-item {
  color: black;
}

.header01 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

.header02 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.paragraph01 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.center-image-step1 {
  padding-left: 6vh;
  padding-top: 8vh;
}

.center-image-step2 {
  padding-left: 6vh;
  padding-top: 6vh;
}

.center-image-step3 {
  padding-left: 6vh;
  padding-top: 8vh;
}

.center-image-step4 {
  padding-left: 6vh;
  padding-top: 8vh;
}

.center-image-step5 {
  padding-left: 6vh;
  padding-top: 6vh;
}
