.header01 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

.header02 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.paragraph01 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

ion-tab-button {
  --color-selected: #e70c2c;
}

ion-tab-button {
  --color-unselected: #e70c2c;
}
