.appVersion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; /* Adjust the height based on your layout requirements */
  text-align: center;
}

.appVersion p {
  margin: 0; /* Remove default paragraph margin */
}

.header01 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

.header02 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.paragraph01 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
