<ion-content [fullscreen]="true" color="light">
  <ion-list [inset]="true">
    <ion-item detail="true">
      <ion-label>
        <div style="display: flex; align-items: center">
          <ion-icon
            name="accessibility-outline"
            slot="start"
            style="font-size: 24px"
          ></ion-icon>
          <div style="margin-left: 10px" p class="paragraph01">
            <p>Personal information</p>
            <p>Edit your profile</p>
          </div>
        </div>
      </ion-label>
    </ion-item>

    <ion-item detail="true">
      <ion-label>
        <div style="display: flex; align-items: center">
          <ion-icon
            name="notifications-off-outline"
            slot="start"
            style="font-size: 24px"
          ></ion-icon>
          <div style="margin-left: 10px" p class="paragraph01">
            <p>Notifications</p>
            <p>Off</p>
          </div>
        </div>
      </ion-label>
    </ion-item>

    <ion-item detail="true">
      <ion-label>
        <div style="display: flex; align-items: center">
          <ion-icon
            name="language-outline"
            slot="start"
            style="font-size: 24px"
          ></ion-icon>
          <div style="margin-left: 10px" p class="paragraph01">
            <p>Language</p>
            <p>English (UK)</p>
          </div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true">
    <ion-item detail="true">
      <ion-label>
        <div style="display: flex; align-items: center">
          <ion-icon
            name="lock-open-outline"
            slot="start"
            style="font-size: 24px"
          ></ion-icon>
          <div style="margin-left: 10px">
            <p class="paragraph01">Privacy & Security</p>
          </div>
        </div>
      </ion-label>
    </ion-item>

    <ion-item detail="true">
      <ion-label>
        <div style="display: flex; align-items: center">
          <ion-icon
            name="help-circle-outline"
            slot="start"
            style="font-size: 24px"
          ></ion-icon>
          <div style="margin-left: 10px">
            <p class="paragraph01">Help</p>
          </div>
        </div>
      </ion-label>
    </ion-item>

    <ion-item detail="true">
      <ion-label>
        <div style="display: flex; align-items: center">
          <ion-icon
            name="information-circle-outline"
            slot="start"
            style="font-size: 24px"
          ></ion-icon>
          <div style="margin-left: 10px">
            <p class="paragraph01">About</p>
          </div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true">
    <ion-item detail="true">
      <ion-label>
        <p class="paragraph01">Log out</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <br />

  <app-logout-button></app-logout-button>

  <div class="paragraph01">
    <p>Version 1.1.3</p>
    <p>Copyright © 2023 PolicyPal Inc.</p>
    <p>All rights reserved.</p>
  </div>
</ion-content>
